<h1 class ="lobster">
   <%= @album.name %>
</h1>

<div><%= image_tag(@album.cover, class:"cover") %></div>

<h2 class="amatic"><%= link_to @album.artist.name, @album.artist %> </h3>

<p><%= @album.year %></p>

<h2 class="amatic">Songs</h2>
<% songs = @album.songs %>

<%= render songs %>
