<!DOCTYPE html>
<html>
<head>
  <title>Musiclibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Amatic+SC' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="main" class="container-fluid">
   <%= render "layouts/nav" %>
   <p class="notice" >
    <% unless notice.nil? %>
      <div class="notice-msg">
        <%= notice %>
      </div>
    <% end %>
  </p>

   <%= yield %>
</div>

</body>

</html>
